@import url('https://fonts.googleapris.com/css2? family=poppins:wght@300;400;500;600&display=swap');

:root {
    /* --main-color: #8f1e1e; */
    --main-color:#1b2432;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the background color of the track */
  }

  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #1b243292; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Set the border radius of the scrollbar thumb */
  }

  /* On hover, style the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color); /* Set the color of the scrollbar thumb on hover */
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Popping',sans-serif;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand h2 {
    display: flex;
    align-items: center;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
    padding-left: 20px;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.sidebar-menu ul li a {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 30px 0px 0px 30px;

}

.sidebar-menu ul li a:hover{
    background:#8390a22c;
}
.sidebar-menu ul li a:hover{

    background:#8390a22c;
}

.sidebar-menu ul li a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar{
    width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li
{
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}


#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}


#nav-toggle:checked ~ .main-content{
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

header {
    background:#fff;
    display:flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 120;
    transition: left 300ms;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}
.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height:40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border:none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small {
    display:inline-block;
    color: var(--text-grey);
    margin-top: -10px !important;
}

main {
    margin-top: 74px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}


/* for map  */
.map-container {
    width: 100%;
}
.map-title {
    font-weight: 700;
    width: 100%;
    background-color: white;
    margin-bottom: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#map {
    width: 100%;
    height: 400px;
    z-index: 100;
    border: solid white 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 30px;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1rem;
    border-radius: 2px;
}

.card-single div:last-child span{
    font-size: 2rem;
    color: var(--main-color);
}


.card-single div:first-child span{
    color: var(--text-grey);
}

.card-single:last-child {
    background: var(--main-color);
}

.card-single:last-child h2,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
    color: #fff;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap:2rem;
    grid-template-columns: 64% auto;

}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

table {
    border-collapse: collapse;

}

thead {
    background:white;
}

tbody {
    overflow: auto;
}
thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead td {
    font-weight: 700;

}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}
tbody >:nth-child(2n) {
    background-color: #00ddfa1d;
}

.card-body>:nth-child(2n) {
    background-color: rgba(255, 255, 0, 0.392);
}
tr td:last-child {
    display:flex;
    align-items:center;
}

.status.green {
    background: greenyellow;
}

.status.red {
    background: orangered;
}

.status.blue {
    background: skyblue;
}

.table-responsive {
    width: 100%;
overflow: auto;
}

.client {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;

}

.info {
    display: flex;
    align-items: center;

}

.info img {
    padding: 3px;
    border-radius: 50%;
    margin-right: 1rem;
    background-color:yellow;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-weight: 600;
    color: var(--text-grey);
}

.contact span {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
}

.edit-buttons button,#updatingAfter button ,.modifyBtnOrder{
    /* background: var(--main-color); */
    border-radius: 10px;
    color: #fff;
    border:none;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
    width: 35px;
    height: 35px;
}

.edit-buttons button span ,.modifyBtnOrder span{
    font-size: 15px;
    font-weight: bolder;
}

/* for edit icon */
.edit-buttons button:first-child ,.modifyBtnOrder{

    background: #ffba05;
    color: black;
}
.edit-buttons button:last-child,#updatingAfter button {

    background: #eb4643;
    color: white;
}


/* alert message  */

.alert-section {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50px;
}
.alert {
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}

.alert>.start-icon {
    margin-right: 5px;
}



.alert-simple.alert-success
{
    width: 420px;
    position: relative;
  border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px #259c08;
    color: #03a700;
  /* text-shadow: 2px 1px #0d6d4f; */
  transition:0.5s;
  border-radius: 10px;
  cursor:pointer;
  height: 50px;
}
.alert-success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}


.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}

/* for orders page */

.orders {
    margin-bottom: 20px;
}
.order_buttons {
    display: flex;
}
.order_buttons button {
    display: flex;
    align-items: center;
    margin: 0px 7px 0px 7px;
    border-radius: 10px;
    color: #fff;
    border:none;
    cursor: pointer;
    width: fit-content;
    height: 35px;
}
.order_buttons button span {
    margin: 0px 5px 0px 2px ;
}

.order_buttons button:first-child {
    background: rgb(11, 142, 11);
    color: white;
}
.order_buttons button:last-child {
    background: #eb4643;
    color: white;
}

/* for modify form */

.modify-container {

    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8d1de7a;
}

.add-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.absolute-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}



.add-container .add-form form div {
    padding: 8px;
    margin: 20px 5px 0px 5px;
    display: block;
}


.submit-buttons button,.add-form div input,#cars-selector {
    z-index: 2000;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 5px;
    font-family:sans-serif;
    font-size: medium;
}



.add-form form div input:focus {
    outline: skyblue 1px solid;
    font-weight:500;
}

.submit-buttons input, .submit-buttons button {

    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.submit-buttons input {
    background-color: rgba(46, 139, 86, 0.722);
    color: white;
}

.submit-buttons button  {
    background-color:#eb4643ae;
    color: white;
}

.submit-buttons button:hover {
    background-color: #eb4643;
}

.submit-buttons input:hover {
    background-color: seagreen;
}


/* for adding form */

.add-form form{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        width: 100%;
        margin-top: 0.5rem;
        border-radius: 10px;
        background-color: rgb(213, 223, 215);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.258);
        padding: 10px 10px 20px 10px;

}

.add-form form div label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #81ba6946;
    border-radius: 10px;
    padding: 5px;
}

@media only screen and (max-width: 1200px) {
    .sidebar{
        width: 70px;
    }

    .sidebar .sidebar-brand,
    .sidebar li
    {
        padding-left: 1rem;
        text-align: center;
    }

    .sidebar li a {
        padding-left: 0rem;
    }


    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
        display: none;
    }

   .main-content{
        margin-left: 70px;
    }

   .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }

     .modify-container .modify-form form {
        display: block;
        padding-top: 20px ;
        padding-left: 10px;
    }
    .add-form form{
        grid-template-columns: repeat(3,1fr);
    }


}


/* for checked icon in order page */

#updatingAfter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#updatingAfter span:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #03a700;
    font-size:x-large;
}

#updatingAfter span:last-child {
    color: white;
}


/* delete button dialog */

.dialog {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #bc33332a;
}

.dialog .card {

    max-width: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0.5rem;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right top, #3f4c6b, #606c88);
    padding: 1rem;
    color: rgb(107, 114, 128);
    box-shadow: 0px 87px 78px -39px rgba(0, 0, 0, 0.968);
  }

  .icon {
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #153586;
    color: rgb(59, 130, 246);
  }

  .icon img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .content {
    margin-left: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  .title {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .desc {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(202, 200, 200);
  }

  .actions {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0.5rem;
    gap: 0.5rem;
  }

  .yes, .no {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.375rem 0.5rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(255, 255, 255);
    outline: 2px solid transparent;
    border: 1px solid rgba(253, 253, 253, 0.363);
  }

  .yes {
    background-color: #284385;
    font-weight: 600;
  }

  .yes:hover {
    background-color: #153586;
  }

  .no {
    background-color: #606c88;
    font-weight: 500;
  }

  .no:hover {
    background-color: #3f4c6b;
  }

  .close {
    margin: -0.375rem -0.375rem -0.375rem auto;
    height: 2rem;
    width: 2rem;
    display: inline-flex;
    border-radius: 0.5rem;
    background-color: #606c88;
    padding: 0.375rem;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
  }

  .close svg {
    height: 1.25rem;
    width: 1.25rem;
  }

  .close:hover {
    background-color: rgb(58, 69, 83);
  }

@media only screen and (max-width: 960px) {
    .cards,.add-form form{
        grid-template-columns: repeat(3,1fr);
    }

    .recent-grid {
        grid-template-columns: 60% 40%;
    }


        .modify-container .modify-form form {
        display: block;
        padding-top: 20px ;
        padding-left: 10px;
    }

}

@media only screen and (max-width: 768px) {
    .cards,.add-form form {
        grid-template-columns: repeat(2,1fr);
    }

    .recent-grid {
        grid-template-columns: 100%;
    }

    .search-wrapper {
        display: none;
    }

    .sidebar {
       left: -100% !important;
    }

    header h2 {
        display: flex;
        align-items: center;
    }

    header h2 label {
        display: inline-block;
        text-align: center;
        background: var(--main-color);
        padding-left: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    header h2 span {
          text-align: center;
          padding-right: 0rem;
    }

    header h2 {
        font-size: 1rem;
    }

    .main-content {
        width: 100%;
        margin-left: 0rem;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li
    {
        padding-left: 2rem;
        text-align: left;
    }

    #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
    }


    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display: inline;
    }

    #nav-toggle:checked ~ .main-content {
        margin-left: 0rem !important;
    }


        .modify-container .modify-form form {
        display: block;
        padding-top: 20px ;
        padding-left: 10px;
    }

}

@media only screen and (max-width: 560px) {
    .cards ,.add-form form{
        grid-template-columns: 100%;
    }

        .modify-container .modify-form form {
        display: block;
        padding-top: 20px ;
        padding-left: 10px;
    }

}
